<template>
    <div class="container">
            <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Users Table</h3>

                <div class="card-tools">
                 <button class="btn btn-success" @click="newModal()">Add New <i class="fas fa-user-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Action</th>
                   
                  </tr>
                  <tr v-for='user in users' :key="user.id">
                    <td>{{user.id}}</td>
                    <td>{{user.name|upText}}</td>
                    <td>{{user.email}}</td>
                    <td><span class="tag tag-success">{{user.created_at|myDate}}</span></td>
                    <td>
                       <a href="#" @click="editModal(user)"><i class="fas fa-edit blue"></i></a>
                       /
                        <a href="#" @click="deleteUser(user.id)"><i class="fas fa-trash red"></i></a>
                    </td>
                   
                  </tr>
                 
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          
        </div><!-- /.row -->


<!-- Modal -->
<div class="modal fade" id="addnew" tabindex="-1" role="dialog" aria-labelledby="addnewTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" v-show="!editMode" id="addnew">New User</h5>
        <h5 class="modal-title" v-show="editMode" id="addnew">Update User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form @submit.prevent="editMode?updateUser():createUser()">
      <div class="modal-body">
        <div class="form-group">
            
            <input v-model="form.name" type="text" name="name"  placeholder="Name"
                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
               
            <has-error :form="form" field="name"></has-error>
        </div>
         <div class="form-group">
            
            <input v-model="form.email" type="email" name="email"  placeholder="Email"
                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                
            <has-error :form="form" field="email"></has-error>
        </div>

        <div class="form-group">
            
            <input v-model="form.password" type="password" name="password"  placeholder="Password"
                class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
               
            <has-error :form="form" field="password"></has-error>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
        <button v-show="editMode" type="submit" class="btn btn-primary">Update</button>
      </div>
      </form>
    </div>
  </div>
</div>
    </div>
</template>

<script>
    export default {

        data(){
           
            return{
               editMode:false,
               users:{},
                form : new Form({
                    id:'',
                    name: '',
                    email:'',
                    password: ''

            })
            }
        },
        methods:{
            updateUser(){
                this.$Progress.start();
                // console.log('Editing data');
                this.form.put('api/user/'+this.form.id)
                .then(() => {
                    // success
                    $('#addnew').modal('hide');
                      toast.fire({
                      type: 'success',
                      title: 'User Updated  successfully'
                      })
                        this.$Progress.finish();
                        Fire.$emit('AfterCreated');
                })
                .catch(() => {
                    this.$Progress.fail();
                });
            },
            editModal(user){
              this.editMode=true;
               this.form.reset();
              $('#addnew').modal('show');
              this.form.fill(user);
            },
            newModal(){
              this.editMode=false;
              this.form.reset();
              $('#addnew').modal('show');
            },
            deleteUser(id){
              swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                 if (result.value) {
                 this.form.delete('api/user/'+id).then(()=>{
                      swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                      )
                       Fire.$emit('AfterCreated');
                   }).catch(()=>{
                   swal("Failed","There is Something Wrong","warning");
                 })
                }
               
              })
          
            },
            loadUsers(){
                axios.get('api/user').then(({data})=>this.users=data.data);
            },
            createUser(){
                this.$Progress.start();
                this.form.post('/api/user').then(()=>{
                  Fire.$emit('AfterCreated');
                  $('#addnew').modal('hide')
                  toast.fire({
                      type: 'success',
                      title: 'User Created  successfully'
                  })
                  this.$Progress.finish();
                }).catch(()=>{

                })
               
            }

        },
        created() {
            this.loadUsers();
            Fire.$on('AfterCreated',()=>{
              this.loadUsers();
            });
        }
    }
</script>
